/* Page Styling */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.body {
    text-align: center;
}

h1 {
    text-align: center;
    padding: 150px;
    font-weight: bold;
    font-size: 50px;
    font-weight: bold;
}
p {
    padding: 20px;
    font-size: 20px;
    text-align: center;
}
#button {
    text-align: center;
}
button {
    text-align: center;
    color: white;
    background-color: lavender;
    border-color: blueviolet;
}

/* Nav Header */
#timer {
    float: right;
    padding-right: 30px;
}

#score {
    color: blueviolet;
    padding-left: 20px;
}
/* Quiz Page */
.codeQuiz {
    align-items: center;
    text-align: center;
}
#questionHeader {
    font-size: 30px;
    font-weight: bold;
}

/*Quiz Challenge Page*/
#codeQuiz {
    align-items: center;
    text-align: center;
}
#questionHeader {
    font-size: 25px;
    font-weight: bold;
}
#correctResponse {
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
}
/*Final Score*/
#finalScore {
    padding-left: 15%;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}
#highScore {
    text-align: left;
    padding-top: 75px;
    font-weight: bold;
}
#highScoreList {
    background-color: lavender;
    font-size: 20px;
    padding-right: 75%;
}
#highScoreButton {
    margin-left: 15%;
    margin-right: 15%;
}

.row {
    align-items: center;
    text-align: center;
}

#allDone {
    font-weight: bold;
    padding-top: 50px;
}